{{- if eq .chezmoi.os "darwin" -}}
# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        # template = ~/.gitmessage
        verbose = true
[rerere]
        # enabled = true
        # autoupdate = true
[core]
        # excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        # fsmonitor = true
        # untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        conflictstyle = zdiff3
[pull]
        # rebase = true

# https://github.com/dandavison/delta?tab=readme-ov-file
[core]
    # pager = delta

[interactive]
    # diffFilter = delta --color-only

# https://news.ycombinator.com/item?id=43169861
[log]
    date = iso

[alias]
    b = branch
    ci = commit
    co = checkout
    st = status -sb
    # https://news.ycombinator.com/item?id=39405765
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend --no-edit
    diffc = diff --cached
    update-from-staging = "!f() { \
        CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD); \
        git checkout staging && git pull origin staging && git checkout $CURRENT_BRANCH && git merge --no-edit staging && git push origin $CURRENT_BRANCH; \
        unset f; \
    }; f"
    ufs = update-from-staging
    update-from-main = "!f() { \
        CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD); \
        git checkout main && git pull origin main && git checkout $CURRENT_BRANCH && git merge --no-edit main && git push origin $CURRENT_BRANCH; \
        unset f; \
    }; f"
    ufm = update-from-main
    delete-merged = "!f() { git fetch -p && git branch --merged | grep -v \"^*\" | grep -v 'master' | grep -v 'main' | grep -v 'staging' | xargs -n 1 git branch -d; }; f"
    dm = delete-merged
    delete-all-branches = "!f() { git fetch -p && git branch | grep -v \"^*\" | grep -v 'master' | grep -v 'main' | grep -v 'staging' | xargs -n 1 git branch -D; }; f"
    dab = delete-all-branches
    cleanup = "!f() { git gc && git prune && git remote prune origin; }; f"
    up = commit -m 'up'
    # https://news.ycombinator.com/item?id=43171509
    out = "log @{u}.."

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[merge]
    summary = true

[user]
    name = maurycy
    email = 5383+maurycy@users.noreply.github.com
    signingkey = C17EC9E80FCB0F6A9F9F9F28E7F259C5811EBE4A

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pull]
    rebase = true

[color]
    diff = always

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

# [color "diff"]
#     meta = yellow bold
#     frag = magenta bold
#     old = red bold
#     new = green bold
#     whitespace = red reverse

# [color "status"]
#     added = green
#     changed = yellow
#     untracked = red

[diff]
    tool = git-difftool
    renames = true
    mnemonicprefix = true

[diff "media"]
    binary = true
    text = false

[diff "excludes"]
    path = .gitignore_global

[push]
    default = simple

[fetch]
    prune = true

[credential]
    helper = cache --timeout=3600

[url "https://github.com/"]
    insteadOf = git://github.com/

[url "https://"]
    insteadOf = git://

[help]
    autocorrect = 10

[rebase]
    autosquash = true
    autostash = true
{{- else if eq .chezmoi.os "linux" }}
[user]
	name = maurycy
	email = 5383+maurycy@users.noreply.github.com
	signingkey = C17EC9E80FCB0F6A9F9F9F28E7F259C5811EBE4A

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	# fsmonitor = true
	# untrackedCache = true
	# pager = delta

[init]
	defaultBranch = main

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	tool = git-difftool

[diff "media"]
	binary = true
	text = false

[diff "excludes"]
	path = .gitignore_global

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[pull]
	rebase = true

[merge]
	# conflictstyle: use 'diff3' if git version < 2.35
	conflictstyle = zdiff3
	summary = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[commit]
	# template = ~/.gitmessage
	verbose = true
	gpgsign = true

[rerere]
	# enabled = true
	# autoupdate = true

[log]
	date = iso

[help]
	autocorrect = 10

[color]
	diff = always

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

# [color "diff"]
#     meta = yellow bold
#     frag = magenta bold
#     old = red bold
#     new = green bold
#     whitespace = red reverse

# [color "status"]
#     added = green
#     changed = yellow
#     untracked = red

[credential]
	helper = cache --timeout=3600

[url "https://github.com/"]
	insteadOf = git://github.com/

[url "https://"]
	insteadOf = git://

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
	# diffFilter = delta --color-only

[alias]
	b = branch
	ci = commit
	co = checkout
	st = status -sb
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	unstage = reset HEAD --
	last = log -1 HEAD
	amend = commit --amend --no-edit
	diffc = diff --cached
	out = "log @{u}.."
	up = commit -m 'up'
	cleanup = "!f() { git gc && git prune && git remote prune origin; }; f"
	update-from-staging = "!f() { \
		CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD); \
		git checkout staging && git pull origin staging && git checkout $CURRENT_BRANCH && git merge --no-edit staging && git push origin $CURRENT_BRANCH; \
		unset f; \
	}; f"
	ufs = update-from-staging
	delete-merged = "!f() { git fetch -p && git branch --merged | grep -v \"^*\" | grep -v 'master' | grep -v 'main' | grep -v 'staging' | xargs -n 1 git branch -d; }; f"
	dm = delete-merged
	delete-all-branches = "!f() { git fetch -p && git branch | grep -v \"^*\" | grep -v 'master' | grep -v 'main' | grep -v 'staging' | xargs -n 1 git branch -D; }; f"
	dab = delete-all-branches
{{- end }}
